:root {
  --body-text-slate: #434455;
  --headings-navy-blue: #2e2f42;
  --focused-iris: #4d5ae5;
  --pressed-state-ocean: #404bbf;
  --light-cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  background-color: #ffffff;
  color: var(--body-text-slate);
}

/* Header */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: var(--headings-navy-blue);
}

.ingredient-logo {
  color: var(--focused-iris);
}

/* Site nav */
.site-nav .link {
  color: var(--headings-navy-blue);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state-ocean);
}

/* Contacts */
.contacts .link {
  color: var(--body-text-slate);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--pressed-state-ocean);
}
/* Hero */

.hero {
  background-color: var(--headings-navy-blue);
}
.hero-title {
  color: #ffffff;
}
.btn-hero {
  background-color: var(--focused-iris);
  color: #ffffff;
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--pressed-state-ocean);
}
/* Section */
.section-title,
.title {
  color: var(--headings-navy-blue);
}

.section-team {
  background-color: var(--light-cloud);
}
.item-team,
.item-project {
  background-color: #ffffff;
}

/* Filters */

.btn {
  background-color: var(--light-cloud);
  color: var(--focused-iris);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-ocean);
  color: #ffffff;
}

/* Footer */

.footer {
  background-color: var(--headings-navy-blue);
}

.title-footer {
  color: var(--light-cloud);
}

.text-foter {
  color: var(--cornflower);
}
